.yield
	.container
		%h2.todo_list_title= @note.title
		%p.note_contentX= @note.content

		.links
			= link_to "Edit", edit_note_path(@note) 
			|
			= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }
			|
			= link_to 'Back', root_path

%br
%br
%br