= render 'mini_nav_b'
.container_new_bar
	%h1 Add New
	.btn_my
		= link_to "", new_note_path, class: "fa fa-pencil-square-o"
		%p New Note
	.btn_my
		= link_to "", new_todo_list_path, class: "fa fa-list"
		%p New Todo-list
	.btn_my
		= link_to "", new_document_path, class: "fa fa-file-word-o"
		%p New Document
	.btn_my
		= link_to "", contacts_path, class: "fa fa-user"
		%p Contacts
	.btn_my
		= link_to "", "#", class: "fa fa-picture-o"
		%p Photos
	.btn_my
		= link_to "", "#", class: "fa fa-video-camera"
		%p Online Videos
	.btn_my
		= link_to "", new_file_upload_path, class: "fa fa-folder"
		%p Files
	.btn_my
		= link_to "", "#", class: "fa fa-bell"
		%p Reminders



	.links
		= link_to 'Back', root_path