.btn_add_mini
	= link_to image_tag('plus.png'), welcome_add_new_object_path
= render 'mini_nav'


= render file: "app/views/notes/index"
= render file: "app/views/todo_lists/index"
= render file: "app/views/documents/index"
= render file: "app/views/file_uploads/index"





































































/%footer
/	%p &copy; NoteNote 2016. All Rights Reserved.














/	.btn_new
/		= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-list"
/		%p Sign out